@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sections-yframe {
    @apply border-b border-slate-300;
  }
}

@layer components {
  .sections-xframe {
    @apply relative mx-auto w-full max-w-[1120px] h-full border-x border-slate-300 sm:w-framed
  }
}

@layer components {
  .cont-heading {
    @apply text-2xl font-semibold;
  }
}

@layer components {
  .cont-content {
    @apply text-base;
    }
}

@layer components {
  .cont-anchor {
    @apply text-sky-600 underline
  }
}
@layer components {
  .cont-ulist::before {
    width: 1em;
    content: "▪";
    display: inline-block;
  }
}

@media print {
  #body {
    height: 100vh;
  }
  
  /* #nav,
  #footer {
    min-height: 35px;
    height: auto;
    section * {
      display: none;
    }
  } */
}
