@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sections-yframe {
    @apply border-b border-slate-300;
  }
}

@layer components {
  .sections-xframe {
    @apply relative mx-auto w-full max-w-[1120px] h-full border-x border-slate-300 sm:w-framed
  }
}

@layer components {
  .cont-heading {
    @apply text-2xl py-2 mx-4 font-semibold;
  }
}

@layer components {
  .cont-content {
    @apply text-base px-4 py-1;
    }
}
    
    @layer components {
      .cont-ulist::before {
        position: absolute;
        left: 1.75rem;
        content: "▪";
        display: inline-block;
        padding: 0 0.5rem;
      }
    }
    
    @layer components {
      .cont-ulist {
        @apply ml-8
  }
}
@media print {
  #body {
    height: 100vh;
  }

  #nav,
  #footer {
    section * {
      opacity: 0;
    }
  }
}
