.heading {
  @apply text-sky-600;
  padding-left: 7rem;
  position: relative;

  &:before {
    content: "";
    height: 0.25rem;
    width: 6rem;
    top: calc(50% - 0.125rem);
    left: 0;
    @apply bg-sky-600;
    display: block;
    position: absolute;
  }
}